.wrapper{
    min-width: 120px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 5px 16px;
    border-radius: 6px;
    height: 40px;
    background-color: var(--white);
    border: 1px solid transparent;
}

.primary {
    background-color: red;
    color: white;

    &:hover{
        background-color: rgb(249, 83, 83);
    }
}

.outline{
    color: red;
    border-color: currentColor;
    &:hover{
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.small{
    min-width: 110px;
    height: 30px;
    padding: 0px 10px;
}